*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

/* elementi comuni a tutta la pagina */
body{
    overflow: hidden;
}

.container{
    display: flex;
}

.row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 6 - 16px / 6 * 5);
    /* border: 1px solid greenyellow; */
    /* test */

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.col img{
    align-self: flex-start;

    width: 100%;

    margin-bottom: 20px;
}

ul{
    list-style-type: none;
}

h2{
    color: white;
}

.title{
    margin-bottom: 10px;

    font-weight: bold;

    color: white;
}

.subtitle{
    color: #7B7D82;
}
/* fine elementi comuni a tutta la pagina */




/* navbar */
nav{
    background-color: black;
    height: 100vh;
    /* test */

    min-width: 230px;

    z-index: 1;
}
/* fine navbar */


/* upgrade */
#upgrade{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: end;
    color: white;
    /* test */

    position: fixed;
    top: 0;
    left: 0;
}
/* fine upgrade */



/* main */
main{
    /* margin-bottom: 90px; */
    background-color: #141922;
    height: 100vh;
    /* test */
    
    padding: 90px 25px 135px; /* valori da fixare */

    flex-grow: 1;

    overflow-y: auto;
}
/* fine main */


/* sezione "choice" */
#choice{
    padding-top: 25px;
    margin-bottom: 45px;
}

#choice ul{
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
    gap: 25px;
    
    color: #7B7D82;
}
/* fine sezione "choice" */




/* sezione "recently played" */
#recently-played{
    margin-bottom: 50px;
}


#recently-played h2{
    margin-bottom: 35px;
}
/* fine sezione "recently played" */



/* sezione "create for you" */
#create-for-you{
    margin-bottom: 40px;
}

#create-for-you h2{
    margin-bottom: 15px;
}

#create-for-you .subtitle{
    margin-bottom: 35px;
}
/* fine sezione "create for you" */



/* sezione "artists" */
#artists .row .col img{
    width: 100%;

    border-radius: 50%;
}

#artists h2{
    margin-bottom: 15px;
}

#artists .subtitle{
    margin-bottom: 35px;
}
/* fine sezione "artists" */




/* sezione player (footer) */
#player{
    width: 100vw;
    height: 90px;
    background-color: #282828;
    /* test */

    position: fixed;
    bottom: 0;
    z-index: 2;
}
/* fine sezione player */




/* SOLUZIONI REPONSIVE */

/* soluzione laptop */
@media screen and (max-width: 1200px){
    
    .col{
        width: calc(100% / 4 - 16px / 4 * 3);
    }

    .col img{
        align-self: center;

        /* width: 100%; */
    }

}
/* fine soluzione laptop */



/* soluzione tablet */
@media screen and (max-width: 992px) {

    .col{
        width: calc(100% / 2 - 16px / 2 * 1);
    }

}
/* fine soluzione tablet */



/* soluzione mobile */
@media screen and (max-width: 768px) {

    nav{
        min-width: 50px;
    }

}
/*fine soluzione mobile */


@media screen and (min-width: 1201px){

    #recently-played .row .col img{
        width: 100%;
        max-width: 210px;
    }

    #create-for-you .row .col img{
        width: 100%;
        max-width: 230px;
    }

}

/*FINE SOLUZIONI REPONSIVE */




