*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

/* elementi comuni a tutta la pagina */
body{
    /* overflow: hidden; */
    color: white;
}

.container{
    display: flex;

    height: calc(100vh - 90px); /* 100% della vh - dimensione footer */
}

a{
    text-decoration: none;
}

.row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% / 6 - 16px / 6 * 5);

    text-align: center;
}

ul{
    list-style-type: none;
}

.title{
    margin-bottom: 10px;

    font-weight: bold;
}

.subtitle{
    opacity: 0.4;
}

.link{
    opacity: 0.4;

    color: white;
}

.link:hover{
    opacity: 1;
}
/* fine elementi comuni a tutta la pagina */




/* navbar */
nav{
    height: 100%;
    /* test */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;

    min-width: 230px;

    overflow-y: auto;

    background-color: black;
}

#nav-top #logo{
    margin-bottom: 30px;
}

#nav-top #logo img{
    width: 130px;
}

#nav-top #navigation{
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 30px;
}

#navigation .nav-row .link{
    display: flex;
    align-items: center;
    gap: 10px;

    opacity: 0.4;

    color: white;
}

/* bonus */
/* #navigation .nav-row .link.active{
    border-left: 3px solid #ADFF2F;

    opacity: 1;
} */

#navigation .nav-row .link:hover{
    opacity: 1;
}

#navigation .nav-row img{
    height: 25px;
}

#playlist{
    margin-bottom: 50px;
}

#playlist h3{
    margin-bottom: 15px;
}

#playlist .new-playlist{
    margin-bottom: 20px;
}

#playlist .new-playlist i{
    padding: 10px;
    margin-right: 10px;
    
    color: black;
    background-color: white
}

#playlist ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#nav-bot{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#download .link{
    display: flex;
    align-items: center;
    gap: 10px;
}

#download img{
    height: 20px;
}

#nav-bot hr{
    opacity: 0.4;
}

#user{
    display: flex;
    align-items: center;
    gap: 10px;
}


#user img{
    width: 25px;
    height: 25px;

    border-radius: 50%;

    object-fit: cover;
    object-position: top;

    background-color: #808080;
}


nav #top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


nav #top .logo{
    width: 25px;

    opacity: 1;
}

nav #top a img{
    height: 20px;

    opacity: 0.4;
}

nav #top a img:hover{
    opacity: 1;
}

nav #bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#download{
    height: 20px;
}

#download:hover{
    opacity: 1;
}

nav #bot #user-image{
    width: 25px;
    height: 25px;

    border-radius: 50%;

    object-fit: contain;

    background-color: #808080;
}
/* fine navbar */



/* main */
main{
    padding: 90px 25px;
    
    flex-grow: 1;
    
    overflow-y: auto;

    background-color: #141922;
}
/* fine main */


/* upgrade */
#upgrade{
    position: fixed;
    top: 0;
    right: 0;

    padding: 35px 20px 28px;

    width: calc(100% - 230px); /* 100% - dimensione della nav laterale */
    height: 90px;

    font-size: 12px;

    text-align: end;

    text-transform: uppercase;
    font-weight: bold;
    

    background-color: rgba(0, 0, 0, 0.7);
}

#upgrade .btn{
    padding: 12px 40px;
    
    border: 1px solid white;

    border-radius: 20px;

    color: white;
}
/* fine upgrade */


/* sezione "choice" */
#choice{
    padding-top: 25px;
    margin-bottom: 45px;
}

#choice ul{
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
    gap: 25px;
}

#choice ul li a{
    color: white;

    opacity: 0.4;
}

#choice ul li a:hover{
    opacity: 1;
}

#choice ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choice ul li hr{
    width: 40%;

    border: 1px solid rgba(173, 255, 47, 1);
}

/* #choice ul li .active{
    border-bottom: 2px solid rgba(173, 255, 47, 1);
} */
/* fine sezione "choice" */




/* sezione "recently played" */
#recently-played{
    margin-bottom: 50px;
}


#recently-played h2{
    margin-bottom: 35px;
}

.select-song{
    position: relative;
}

.select-song:hover i{
    display: inline-block;
}

.select-song:hover a img{
    opacity: 0.5;
}

.select-song i{
    display: none;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;

    color: white;
}
/* fine sezione "recently played" */



/* sezione "create for you" */
#create-for-you{
    margin-bottom: 40px;
}

#create-for-you h2{
    margin-bottom: 15px;
}

#create-for-you .subtitle{
    margin-bottom: 35px;
}
/* fine sezione "create for you" */



/* sezione "artists" */
#artists .row .col img{
    width: 100%;

    border-radius: 50%;
}

#artists h2{
    margin-bottom: 15px;
}

#artists .subtitle{
    margin-bottom: 35px;
}
/* fine sezione "artists" */




/* sezione player (footer) */
#player{
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    
    height: 90px;

    background-color: #282828;
}


/* left */
#left{
    display: flex;
    align-items: center;
    gap: 30px;
}

#left .song{
    display: flex;
    align-items: center;
    gap: 12px;
}

#song-img{
    width: 40px;
    height: 40x;
}

#left .song img{
    width: 100%;
}

#left .song .song-title .title{
    margin: 0;
}

#left .option{
    display: flex;
    gap: 15px;
}

#left .option i{
    opacity: 0.4;
}
/* fine left */


/* center */
#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 40%;
}

#center-top{
    display: flex;
    align-items: center;
    gap: 20px;
}

#center-top i:nth-of-type(3){
    margin-left: 5px;
    margin-right: 5px;

    font-size: 30px;
}

#center-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    width: 100%;
}

#center-bot #time-song{
    width: 90%;
    height: 5px;

    border-radius: 10px;

    background-color: rgba(100%, 100%, 100%, 0.4);
}
/* fine center */


/* right */
#right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    max-width: 200px;
    min-width: 50px; 
}


#right #volume{
    width: 100px;
    height: 5px;

    border-radius: 10px;

    background-color: rgba(100%, 100%, 100%, 0.4);
}
/* fine right */




/* SOLUZIONI REPONSIVE */

/* soluzione laptop */
@media screen and (max-width: 1200px){
    
    .col{
        width: calc(100% / 4 - 16px / 4 * 3);
    }

    .col img{
        align-self: center;

        width: 100%;
    }

}
/* fine soluzione laptop */



/* soluzione tablet */
@media screen and (max-width: 992px) {

    .col{
        width: calc(100% / 2 - 16px / 2 * 1);
    }

    #left .option{
        flex-direction: column;
        gap: 5px;
    }

}
/* fine soluzione tablet */



/* soluzione mobile */
@media screen and (max-width: 768px) {

    nav{
        padding: 15px;

        min-width: 50px;
    }

    nav #nav-top{
        display: none;
    }

    nav #nav-bot{
        display: none;
    }

    nav #bot{
        padding-top: 50px;
    }

    #upgrade{
        width: calc(100% - 50px);
    }

    #right{
        gap: 8px;
    }

}
/*fine soluzione mobile */


@media screen and (min-width: 1201px){

    #recently-played .row .col img{
        width: 100%;
        max-width: 210px;
    }

    #create-for-you .row .col img{
        width: 100%;
        max-width: 230px;
    }

}

@media screen and (min-width: 769px) {

    nav #top{
        display: none;
    }

    nav #bot{
        display: none;
    }

}
/*FINE SOLUZIONI REPONSIVE */




